.content-text {
    width: 600px;
    margin: auto;
    font-size: 1.2rem;
}

.article-header-content {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    width: 300px;
}

.header {
    margin-top: 30px;
    justify-content: center;
}
